/* PasswordPrompt.css */
.adminpassword-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: White;
    font-family: 'Nunito', sans-serif;
}

.adminpassword-prompt h2 {
    margin-bottom: 20px;
}

.adminpassword-prompt form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.adminpassword-prompt input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid White;
    border-radius: 4px;
    width: 300px;
    border: 2px solid Orange;
}

.adminpassword-prompt button {
    padding: 10px;
    font-size: 16px;
    background-color: red;
    color: White;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.adminpassword-prompt button:hover {
    background-color: black;
}

.adminpassword-prompt img{

height: 35px;
width: 40px;
margin-top: -48px;
margin-left: 2px;
cursor: pointer;
}